:root {
    --primary-color: #ff7245;
}

a {
    text-decoration: none;
    color: #000;
}

.back-to-top {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    background-color: var(--primary-color);
}

.back-to-top:hover svg {
    fill: #fff;
}

/* --------------------------slider------------------------- */

.img-slider {
    width: 100%;
    background: tomato no-repeat center;
    background-size: cover;
    aspect-ratio: 21/9;
}

.img-1 {
    background-image: url('/products/slide_h4_1.jpg');
}

.img-2 {
    background-image: url('/products/slide_h4_2.jpg');
}

.slider {
    position: relative;
}

.text-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    z-index: 1;
}

.text-1 {
    left: 15%;
}

.text-2 {
    right: 15%;
}

.text-slider b {
    letter-spacing: 2px;
    font-size: 22px;
}

.text-slider h1 {
    letter-spacing: 2px;
    margin: 12px 0;
    text-transform: capitalize;
    font-size: 60px;
    color: #ff7245;
}

.text-slider p {
    opacity: 0.6;
    font-size: 16px;
}

.text-slider button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 24px;
    padding: 12px 46px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 20px;
    height: auto;
}

.text-slider button:hover {
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease;
}

/* -------------------------------BreadCrumb-------------------------------------- */

.breadcrumb {
    background: tomato no-repeat center;
    background-size: cover;
    background-image: url('/products/bg-breadcrumb.jpg');
    height: 330px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumb .ant-breadcrumb-link a,
.breadcrumb .ant-breadcrumb-link,
.breadcrumb .ant-breadcrumb-separator,
.breadcrumb .breadcrumb-title {
    color: #fff !important;
}

.breadcrumb-title {
    font-size: 40px;
}

.ant-breadcrumb li:not(:last-child):hover .ant-breadcrumb-link a {
    color: #ff7245 !important;
}

.ant-breadcrumb .ant-breadcrumb-link a:hover {
    background-color: transparent;
}

/* -----------------------filter----------------------------- */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.filter-container .filter button {
    padding: 8px 14px;
    border: 2px solid #111;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.filter-container .ant-space {
    font-size: 15px;
    color: #444;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.filter-container .filter button:hover {
    background-color: #ff7245;
    color: #fff;
    border: 2px solid #ff7245;
}

.filter-container .filter button svg {
    margin-right: 8px;
}

.filter-side-bar .item ul li {
    list-style-type: none;
    margin-bottom: 12px;
    cursor: pointer;
}

.filter-side-bar .item-title {
    position: relative;
    margin: 24px 0;
    overflow: hidden;
}

.filter-side-bar .cate:hover {
    color: #ff7245;
}

.filter-side-bar .cate svg {
    display: none;
    font-size: 12px;
    margin-right: 6px;
}

.filter-side-bar .cate:hover svg {
    display: block;
}

.filter-side-bar h2 {
    padding-left: 14px;
    border-left: 3px solid;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    padding-right: 15px;
}

.filter-side-bar .item-title::after {
    content: "";
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    position: absolute;
    top: 50%;
}

.filter-side-bar .size,
.filter-side-bar .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.filter-side-bar .size button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid;
    font-weight: 600;
    cursor: pointer;
}

.filter-side-bar .size button:hover {
    background-color: #ff7245;
    color: #fff;
    transition: all 0.3s linear;
}

.filter-side-bar .flex .color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #111;
    cursor: pointer;
}

.filter-side-bar .flex .color::before {
    content: "";
    border: 1px solid #ff7245;
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all .3s ease;
    opacity: 0;
}

.filter-side-bar .flex .color:hover::before {
    opacity: 1;
}

/* -------------------products--------------------- */
.products-container {
    display: grid;
    grid-template: auto /repeat(3, 1fr);
    gap: 24px;
}

.products {
    position: relative;
    margin-bottom: 24px;
}

.products .img {
    background: tomato no-repeat center;
    background-size: cover;
    aspect-ratio: 1/1;
}

.products .content {
    text-align: center;
    margin: 16px 0;
}

.products .content h4 {
    margin-bottom: 8px;
}

.products .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 25%;
    width: 100%;
    transition: all 0.3s linear;
    opacity: 0;
}

.products .menu .icon svg {
    font-size: 20px;
}

.products .menu .icon {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.products .menu .icon:hover {
    background-color: #ff7245;
    color: #fff;
}

.products:hover .menu {
    opacity: 1;
    bottom: 30%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999;
}

@media (max-width:768px) {
    .products-container {
        grid-template: auto /repeat(2, 1fr);
        gap: 16px;
    }
}

/* -------------------------product details-------------------------------------- */
.details-page {
    margin-bottom: 60px;
}

.products_details_page {
    min-height: 500px;
    margin-bottom: 60px;
}

.products_details_page .products-container {
    display: grid;
    grid-template: auto / 40% 1fr;
    gap: 24px;
}

.products_details_page .content {
    padding: 0 16px;
}

.products_details_page .slider {
    margin: 0 24px;
    padding-bottom: 16px;
}

.products_details_page .images {
    display: flex;
    justify-content: center;
}

.products_details_page .images .cake-img {
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
}

.products_details_page .images .cake-img.active {
    border: 1px solid #ff7245;
}

.products_details_page .cake-img {
    background: no-repeat center;
    background-size: cover;
    aspect-ratio: 1/1;
}

.products_details_page .quantity {
    display: flex;
    padding-bottom: 24px;
    align-items: center;
}

.products_details_page .is-form {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.products_details_page .is-form:hover {
    background-color: #ff7245;
    color: #fff;
    border: none;
}

.products_details_page .buttons_added {
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;
}

.products_details_page .input-qty {
    margin: 0 24px;
    font-size: 24px;
}

.products_details_page .btn-add {
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    padding: 8px 52px;
    position: relative;
    transition: all 250ms;
    touch-action: manipulation;
    vertical-align: baseline;
    text-transform: uppercase;
    margin-left: 50px;
    transition: all 0.3s ease-in;
}

.products_details_page .btn-add:hover {
    border: 1px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
    background-color: #fff;
    color: var(--primary-color);
}

.products_details_page .btn-add:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.products_details_page .name {
    font-size: 48px;
    padding-bottom: 24px;
    color: var(--primary-color);
}


.products_details_page .price {
    font-size: 24px;
    padding-bottom: 26px;
    font-weight: 600;
    color: #333;
}

.products_details_page .content p,
.products_details_page .content .category {
    line-height: 1.8;
    color: #888;
    letter-spacing: 1px;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

.products_details_page .content .category span {
    color: #888;
}

.products_details_page .content .category span:hover {
    color: #ff7245;
}

.products_details_page .content .category strong {
    color: #111;
}

.ant-skeleton-image {
    width: 100% !important;
    height: 450px !important;
}

.ant-breadcrumb {
    margin-bottom: 32px;
}

.details-page .block-top-link {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid #cccccc65;
}

.details-page .block-top-link>* {
    flex: 1;
    padding: 0 15px;
}

.details-page .sp-iconfeatured {
    text-align: center;
    border: 1px solid #e1e1e1;
    height: 100%;
    padding: 20px 20px 25px;
}

.details-page .sp-iconfeatured .icon {
    color: #ff7245;
    font-size: 24px;
    margin-bottom: 20px;
}

.details-page .sp-iconfeatured .icon svg {
    width: 35px;
    height: 35px;
    fill: #ff7245;
}

.details-page .sp-iconfeatured .title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

.details-page .ant-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-page .ant-menu-item-selected {
    color: #ff7245 !important;
}

.details-page .ant-menu-item-selected::after,
.details-page .ant-menu-item:hover::after {
    border-bottom-color: #ff7245 !important;
}

.details-page .product-desc,
.details-page .product-info {
    padding: 34px 0;
}

.details-page .product-desc p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #a8a8a8;
    margin-bottom: 16px;
}

.details-page h2 {
    display: inline-block;
    letter-spacing: 1px;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #333;
    margin-bottom: 24px;
}

.details-page .para-1 {
    display: flex;
}

.details-page .para-1 .text {
    margin-left: 32px;
}

.details-page .para-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.details-page .para-2 ul li,
.info-1 .row ul li,
.info-1 .row ul li a {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #a8a8a8;
    margin-bottom: 6px;
    list-style-type: none;
}

.info-1 .row ul li a:hover {
    color: #ff7245;
}

.product-info .info {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 34px;
}

.product-info .info-1 .title_content .more_info {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #979797;
    margin-bottom: 5px;
}

.info-1 .title_content h3 {
    font-size: 25px;
    font-weight: 600;
    color: #363636;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: capitalize;
}

.info-1 .title_content h3:after {
    content: "";
    height: 2px;
    width: 40px;
    background: #ff7245;
    position: absolute;
    bottom: 0;
    left: 0;
}

.info-1 .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
}

.info-1 .content1 .info_1 {
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    padding-bottom: 10px;
}

.info-1 .content2 .info2 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #363636;
    margin-bottom: 9px;
}

.info-1 .content2 .info2 .more-info {
    padding-top: 18px;
}

.info-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-alert {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description-alert .alert-img {
    width: 70px;
    background: no-repeat center;
    background-size: cover;
    aspect-ratio: 1/1;
    transform: rotateZ(45deg);
}

.ant-notification .ant-notification-notice-message {
    margin-inline-start: 49px !important;
    font-size: 17px !important;
    color: #ff7245 !important;
}

@media (max-width:960px) {
    .products_details_page .quantity {
        display: block;
    }

    .products_details_page .btn-add {
        margin-left: 0;
        margin-top: 24px;
    }
}

@media (max-width:768px) {
    .products_details_page .products-container {
        display: block;
    }

    .products_details_page .buttons_added {
        margin-left: 2px;
    }

    .products_details_page .slider {
        margin: 0;
    }

    .products_details_page .name-products {
        margin-top: 16px;
        font-size: 24px;
    }
}

/* -----------------------------blog---------------------------- */
.blog-page {
    padding: 36px 0 60px 0;
}

.content-blog-page {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 32px;
}

.content-blog-page .blog_grid .post-thumb {
    overflow: hidden;
    position: relative;
}

.content-blog-page .blog_grid .post-thumb img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s linear;
}

.content-blog-page .blog_grid .post-thumb img:hover {
    transform: scale(1.1);
}

.blog-page .blog_grid .post-thumb .single-post-date {
    width: 76px;
    height: 76px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    padding: 10px 15px;
    background-color: #fff;
    top: 20px;
    left: 20px;
}

.blog-page .blog_grid .post-thumb .single-post-date .date {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.blog-page .blog_grid .post-thumb .single-post-date .date:before {
    content: "";
    height: 1px;
    width: 44px;
    display: block;
    background-color: #c8c8c8;
    position: absolute;
    bottom: -1px;
}

.blog-page .blog_grid .post-thumb .single-post-date .month {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.blog-page .content-blog-page .post-info .blog-title {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 20px;
    color: #ff7245;
    padding-bottom: 5px;
}

.blog-page .content-blog-page .post-info .post-title {
    padding-bottom: 10px;
    position: relative;
}

.blog-page .content-blog-page .post-info .post-title a {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    transition: .8s;
}

.blog-page .content-blog-page .post-info .post-title a:hover {
    color: #ff7245;
}

.blog-page .content-blog-page .post-info .post-title:before {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #e0e0e0;
    display: block;
    bottom: 0;
    position: absolute;
}

.blog-page .content-blog-page .post-info .desc {
    font-size: 14px;
    font-weight: 400;
    color: #a8a8a8;
    margin-top: 15px;
}

.blog-page .content-blog-page .post-info .btn_readmore {
    font-size: 14px;
    font-weight: 500;
    color: #363636;
    margin-top: 23px;
    display: inline-block;
    transition: all 0.3s linear;
}

.blog-page .content-blog-page .post-info .btn_readmore span {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

.blog-page .content-blog-page .post-info .btn_readmore:hover {
    color: #ff7245;
}

.blog-page .content-blog-page .post-info .btn_readmore:hover span::after {
    background-color: #ff7245;
}

.blog-page .content-blog-page .post-info .btn_readmore span:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #363636;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 960px) {
    .content-blog-page {
        grid-template: auto/ repeat(2, 1fr);
    }

    .blog-page .blog_grid .post-thumb .single-post-date {
        width: 60px;
        height: 60px;
        padding: 5px 7px;
        top: 10px;
        left: 10px;
    }
}

/* ------------------------cart------------------------------- */
.cart-products {
    margin-bottom: 60px;
}

.cart-page .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

.cart-page .no-results h1 {
    text-transform: capitalize;
    color: #ff7245;
}

.cart-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-table b {
    margin-left: 32px;
}

.cart-page .buttons_added .is-form:hover,
.cart-page .anticon-delete:hover svg {
    color: #ff7245;
}

.ant-table-wrapper {
    margin: 30px 0;
}

.check-out {
    border: 1px solid #eee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 16px;
}

.check-out .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-out .check-out-btn {
    display: flex;
    margin-left: auto;
    margin-top: 24px;
    font-size: 14px;
    color: #fff;
    background-color: #ff7245;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear;
    padding: 18px 60px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 500;
}

.check-out .check-out-btn:hover {
    background-color: #222;
}

@media (max-width:768px) {
    .cart-table .ant-image {
        display: none;
    }

    .cart-table b {
        margin-left: 0;
    }

    .check-out .check-out-btn {
        padding: 8px 16px;
        letter-spacing: 0;
    }
}