* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

::selection {
  background-color: #ff7245;
  color: #fff;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
}